<div class="container">
    <h1>Find your solution for other to other communication</h1>
    <button ui-sref="bridge">Add a bridge now!</button>
    <div class="row">
        <div class="col s4">
            <h3>Super</h3>
            <p>Trop mega cool!</p>
        </div>
        <div class="col s4">
            <h3>Extra</h3>
            <p>Trop mega cool!</p>
        </div>
        <div class="col s4">
            <h3>OMG</h3>
            <p>Trop mega cool!</p>
        </div>
    </div>
</div>