.navbar {

    padding: 15px 25px;

    .title, .links {
        display: inline-block
    }

    .links {
        float: right;

        .link {
            display: inline-block;
            margin: 0 15px;
        }
    }
    
}